// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.dem-parens {
}

.line-inner-resize-0 {
  font-size: 1em;
}

.line-inner-resize-1 {
  font-size: 0.9em;
}

.line-inner-resize-2 {
  font-size: 0.8em;
}

.line-inner-resize-3 {
  font-size: 0.7em;
}

.line-inner-resize-4 {
  font-size: 0.6em;
}

.line-inner-resize-5 {
  font-size: 0.5em;
}

.line-inner-resize-6 {
  font-size: 0.4em;
}

.line-inner-resize-7 {
  font-size: 0.3em;
}

.line-inner-opacity-0 {
  opacity: 1 - 0.0;
}

.line-inner-opacity-1 {
  opacity: 1 - 0.1;
}

.line-inner-opacity-2 {
  opacity: 1 - 0.2;
}

.line-inner-opacity-3 {
  opacity: 1 - 0.3;
}

.line-inner-opacity-4 {
  opacity: 1 - 0.4;
}

.line-inner-opacity-5 {
  opacity: 1 - 0.5;
}

.line-inner-opacity-6 {
  opacity: 1 - 0.6;
}

.line-inner-opacity-7 {
  opacity: 1 - 0.7;
}
